body {
            background-color: rgb(198, 254, 254);
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            color: black;
            margin-top: 70px;
            margin-bottom: 100px;
            margin-right: 50px;
            margin-left: 100px;
        }
        p {
            text-align: left;
        }
        #namareporter{
            font-weight: bold;
            font-size: xx-small;
        }

        .publis {
            text-align: center;
            font-size: xx-small;
        }

        a:link{
            text-decoration: none;
            color: blue;
        }
        a:hover{
            text-decoration: underline;
            color: blue;
            font-size: large;
        }
        a:visited{
            text-decoration: none;
            color: blue;
        }

        .agakmasuk {
            margin-left: 20px;
        }

        .gambar{
            border-radius: 10px;
            box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23)
        }